<div class="main">
  <article class="featured">
    <h1 class="featured__title">Lorem, ipsum dolor.</h1>
    <p class="featured__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum praesentium aspernatur
      cumque sunt accusantium esse sequi distinctio iste debitis sit officiis qui fugit placeat, unde quas eos atque,
      obcaecati repellendus!</p>
  </article>
  <section class="location">
    <p class="location__info">Lorem, ipsum dolor.</p>
    <p class="featured__body">Lorem, ipsum dolor.</p>
  </section>
</div>
<div class="categories">
  <div class="category">
    <h2 class="category__title">Lorem, ipsum.</h2>
    <p class="category__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quisquam 
      ex cupiditate nulla quidem sunt facere. Beatae nihil perferendis rem!</p>
  </div>
  <div class="category">
    <h2 class="category__title">Lorem, ipsum.</h2>
    <p class="category__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quisquam 
      ex cupiditate nulla quidem sunt facere. Beatae nihil perferendis rem!</p>
  </div>
  <div class="category">
    <h2 class="category__title">Lorem, ipsum.</h2>
    <p class="category__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quisquam 
      ex cupiditate nulla quidem sunt facere. Beatae nihil perferendis rem!</p>
  </div>
  <div class="category">
    <h2 class="category__title">Lorem, ipsum.</h2>
    <p class="category__body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quisquam 
      ex cupiditate nulla quidem sunt facere. Beatae nihil perferendis rem!</p>
  </div>
</div>
